@font-face {
    font-family: "MultiTypePixelRegular";
    src: url(./assets/fonts/MultiTypePixel-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #232125;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#NavBar {
    font-family: "MultiTypePixelRegular";
    color: white;
    font-size: 25px;
    margin: 0px 0px 10px 0px ;
    padding: 5px 10px;
    background-color: #151218;
    vertical-align: middle;
    height: 2.5%;
    max-height:  2.5%;
}

#PixelEditorSpace {
    display: flex;
    flex: 1;
}

#Tools ,
#WorkSpace ,
#ColorWheel {
flex:1;
}

#Tools {
background-color: wheat;
}

#WorkSpace {
background-color: aquamarine;
flex-grow: 5;
}

#ColorWheel {
background-color: pink;
}