@font-face {
    font-family: "MultiTypePixelRegular";
    src: url(./assets/fonts/MultiTypePixel-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #232125;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#NavBar {
    font-family: "MultiTypePixelRegular", sans-serif;
    color: white;
    font-size: 25px;
    /* margin: 0px 0px 10px 0px ; */
    padding: 5px 10px;
    background-color: #151218;
    vertical-align: middle;
    height: 2.5%;
    max-height:  2.5%;
    min-height: 2.5%;
}

a:visited { 
    text-decoration: none; 
    color: inherit; 
}

a:link{
    text-decoration: none!important;
}

#PixelEditorSpace {
    display: flex;
    flex: 1;
}

#Tools ,
#WorkSpace ,
#ColorWheel {
flex:1;
}

#Tools {
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid grey 5px;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
   
    cursor: pointer;
    
    width: 50px;
    height: 50px;
    background-color: #342d3a;
    border-radius: 10%;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    margin-top: 10px;
}

#ToolBars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 100px;
    height: 500px;
    /* background-color: white; */
    margin-top: auto;
    margin-bottom: auto; 

    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
}

.tool{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    box-shadow:inset 0px 0px 0px 1px rgb(255, 255, 255);
}

.tool:hover {
    background-color: gray;
}

#Rainbow {
    color:#D92546;
}

#Rainbow:hover {
    animation: rainbow-colors 2s linear infinite;
    animation-delay: calc(-2s * var(--char-percent));
}

@keyframes rainbow-colors {
    0% { color: hsl(0turn, 90%, 65%); }
    25% { color: hsl(.25turn, 90%, 65%); }
    50% { color: hsl(.5turn, 90%, 65%); }
    75% { color: hsl(.75turn, 90%, 65%); }
    100% { color: hsl(1turn, 90%, 65%); }
}

#WorkSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    flex-grow: 5;
    box-sizing: border-box;
    margin:0;
    padding: 0;

    position: relative;
}

#CanvasAbsolutePos{
    position: absolute;
    z-index: 1;
}

#Canvas {
    width: 1152px;
    height: 1152px;
    max-width: 1152px;
    max-height: 1152px;

    min-width: 0;
    min-height: 0;
    
    
    /* background-color: white; */
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.option{
    transition: color .2s ease-in;
    display: flex;
    padding: 5px 1px;
    border-radius: 8px;
    align-items: center;

    position: relative;
    z-index: 10;
}

#options{
    color:white;
    background-color: #151218;
    padding: 15px;
    font-size: 15px;
    font-family: "MultiTypePixelRegular", sans-serif;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    margin-top: 10px;

    position: relative;
    z-index: 10;
}

.option-text{
    transition: color .2s ease-in;
    position: relative;
    user-select: none;
    z-index: 10;
    cursor: pointer;

}

.option-text:hover {
    color:rgb(177, 177, 177);
}

#ColorWheel {
/* background-color: pink; */
display: flex;
flex-direction: column;
justify-content: center;
/* align-self: center; */
border-left: solid grey 5px;
}

#picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ColorPreview {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    border: 1.5px solid white;
}
.colorswatch{
    display: flex;
    gap:15px;
    justify-content: center;
    margin-top: 13px;
    flex-wrap: wrap;
}
.swatch {
    transition: box-shadow .1s ease-in;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
}
.swatch:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.37);
}

#PopUpAbsolPos{
    position: absolute;
    z-index: 10;
}

#PopUp{
    background-color: #3C3940; 
    display:flex;
    width: 455px;
    height: 208px;
    min-width: 455px;
    min-height: 208px;
    border-radius: 5px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 600px;
    /* margin-top: 100px; */
    overflow: hidden;
    padding-left: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
}

#PopUpLeft {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

#PopUpRight {
    display: flex;
    width: auto;
    /* flex:1; */
    justify-content: flex-end;
    align-items: flex-start;
}

#PopUpTop {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.NewDrawingText {
    font-size: 40px;
    font-family: "MultiTypePixelRegular", sans-serif;
    margin-right: 10px;
    margin-left: auto;
    flex-wrap: wrap;
    word-break: break-all;
    
    color: white;
}

.MaxText {
    font-family: "MultiTypePixelRegular", sans-serif;
    color: white;
    margin-bottom: 0px;
    font-size: 15px;
}

#XText {
    font-family: "MultiTypePixelRegular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 0px;

    transition: color .1s ease-in;
    color: white;
}

#XText:hover{
    color:gray;
}

.MiddleText , 
.MiddleTextX{
    font-family: "MultiTypePixelRegular", sans-serif;
    color: white;
}

.MiddleTextX {
    font-size: 10px;
    margin: 0px 16px;
}

#PopUpMiddle {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 20px;
}

input {
    background-color: #1e1a24;
    border: none;
    color: white;
    font-family: "MultiTypePixelRegular", sans-serif;
    border-radius: 3px;
    resize:none;
    padding-bottom: 3px;
    padding-left: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    width: 40px;
    margin: 0;
}

#PopUpBottom{
    margin-top: 19px;
}

button {
    font-family: "MultiTypePixelRegular", sans-serif;
    width: 90px;
    height: 40px;
    font-size: 15px;
    background-color: #1e1a24;
    border: none;
    cursor: pointer;
    color: white;
    transition: color .1s ease-in;
}

button:hover{
    color: gray;
}

#PixelContainer{
    box-sizing: border-box;
    display: flex;
    /* border: 1px solid black; */

    /* Unhiding width below will cause the with to stretch to the edge,
    making pixels squares rectangle's instead of 1/1 aspect ratio squares */

    /* New idea: Maybe create an if statement that if the width is greater than height, disable height:100%
    and if height is greater, disable width:100%? */
    
   
    min-height: 0%;
    min-width: 0%;
}

.PixelBoxes {
    aspect-ratio: 1/1 ;
    flex: 1;
    background-color: #D92546;

    
    height:auto;
    width: auto;
    /* box-shadow:inset 0px 0px 0px 1px rgb(255, 255, 255); */

    cursor: crosshair;

}